body {
    background-color: rgb(15, 2, 27);
    margin: 0;

}

header img {
    border-radius: 900px;
}

header {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: rgb(36, 5, 67);
    position: fixed;
    top: 0;
    z-index: 999;
}

.image {
    background-color: aqua;
}



button {
    border: 1px solid;
}

.text {

    width: 70%;
    margin-left: 30px;
    text-align: center;
}

.q {
    transition: transform 0.5s ease;
}

.q:hover {
    transform: translateY(-5px);
}

.btn3 {
    transition: transform 0.5s ease;
}

.btn3:hover {
    transform: scale(1.1);
}

.btn1,
.btn2 {
    transition: transform 0.5s ease;
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.2);
}

.btn1:hover {
    background-color: rgb(15, 2, 27);
    transform: scale(1.1);
}

.btn2:hover {
    transform: scale(1.1);
    background-color: rgb(36, 5, 67);
}

img,
h1 {
    display: inline-block;
}

p {
    font-size: 18px;
}

h1 {
    vertical-align: top;
    color: white;
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: white;
    margin: 20px;
    font-style: italic;
}

h3 {
    color: orange;
    margin-left: 40px;
}

button {
    background-color: #8a5cf625;
    height: 30px;
    color: white;
    font-size: 15px;
}

nav {
    display: flex;
    margin: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 35px;
    float: right;
}

.a {
    transition: color 0.5s ease, border-bottom 0.5s ease;
    color: white;
    font-size: 20px;
    border-bottom: 5px solid transparent;
    padding-bottom: 2px;
    text-decoration: none;
    margin: 15px;
    flex-wrap: wrap;
}

.a:hover {
    background: bottom;
    color: orange;
    border-bottom: 5px solid orange;
}

.rea {
    padding-bottom: 0px;
}

.rea:hover {
    border-bottom: 0px solid transparent;
}

.logo {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo:hover {
    background: bottom;
    color: transparent;
    border-bottom: 5px solid transparent;
    transform: translateY(-10px);
}

.aa {
    margin: 20px;
}

.acceuille {
    background-color: rgb(36, 5, 67);
    box-shadow: 0 0 25px rgb(22, 22, 69);
}

.competence {
    background-color: rgb(36, 5, 67);
    box-shadow: 0 0 25px rgb(22, 22, 69);
}

.acceuille1 img {
    border-radius: 500px;
    background-color: brown;
    margin: 20px;

}

.acceuille1 p {
    vertical-align: top;
    margin: 70px;
    color: white;
}

.acceuille1,
P,
img {
    display: inline-block;
}

.acceuille1 {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.2);
    width: 100%;
    transition: 0.3S, postion-relative 0.3s;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.acceuille1:hover {
    transform: translateY(-5px);
}

.contatc2 input[type="submit"] {
    width: 150px;
    height: 30px;
    background-color: green;
    color: white;
    transition: transform 0.3s ease;
}

.contatc2 input[type="submit"]:hover {
    transform: scale(1.1);
}

.conctac1 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.competence1 {
    display: inline-block;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.competence1,
.front,
.back,
.app {
    justify-content: space-between;
    display: inline-block;
    flex-direction: column-reverse;
    margin: 20px;
    width: 100%;
}

.front {
    background-color: #8a5cf642;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 400px;
    border-radius: 10px;
    height: 300px;
    text-decoration: none;
}

.front:hover {
    transform: translateY(-5px);
}

.button {
    margin-left: 30px;
}

button {
    background-color: transparent;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900px;
    font-style: italic;
}

.back {
    background-color: #3b83f635;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 400px;
    border-radius: 10px;
    height: 300px;
    text-decoration: none;
}

.back:hover {
    transform: translateY(-5px);
}

.app {
    background-color: #22c55e41;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 400px;
    border-radius: 10px;
    vertical-align: top;
    height: 300px;
    text-decoration: none;
}

.app:hover {
    transform: translateY(-5px);
}

/* site et app */
.voy {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 400px;
    border-radius: 10px;
    height: 470px;
    text-decoration: none;
}

.voy:hover {
    transform: translateY(-5px);
}

.cafe {
    background-color: rgba(255, 255, 255, 0.404);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 400px;
    border-radius: 20px;
    height: 470px;
    text-decoration: none;
}

.cafe:hover {
    transform: translateY(-5px);
}

.mon {
    background-color: #0000004f;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 400px;
    border-radius: 20px;
    height: 470px;
    text-decoration: none;
}

.mon:hover {
    transform: translateY(-5px);
}

.competence1,
.voy,
.cafe,
.mon {
    display: inline-block;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 10px;
}

.p {
    color: white;
}

.p:hover {
    color: white;
}

.Z {
    color: white;
    border: 1px solid rgba(30, 28, 28, 0.705);
    background-color: rgba(30, 28, 28, 0.705);
    width: 350px;
    height: 35px;
    border-radius: 10px;
}

textarea {
    color: white;
    background-color: rgba(30, 28, 28, 0.705);
    width: 720px;
    height: 300px;
    border-radius: 10px;
}

.conctac1,
.contatc2,
.contatc3 {
    display: inline-block;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 10px;
}

footer {
    background-color: black;
    width: 100%;
    color: white;
    height: 150px;
    text-align: center;
}

.log {
    text-align: center;
    align-items: center;
}

@media screen and (max-width:900px) {

    .btn1,
    .btn2 {
        margin: 15px;
    }
}

@media screen and (max-width:900px) {
    .competence1 {
        flex-direction: column;
        display: flex;
        justify-content: center;

    }
}

@media screen and (max-width:1068px) {

    .conctac1.contatc2,
    .contatc3 {
        width: 100%;
    }
}

@media screen and (max-width:483px) {
    .contatc3 {
        width: 100%;
    }

}

@media screen and (max-width:430px) {
    .contatc3 {
        width: 100%;
    }

    section {
        width: 100%;
    }

    .conctac1.contatc2,
    .contatc3 {
        width: 100%;
    }

    .competence1 {
        width: 100%;
    }

    .contatc3 {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:10px) {
    .contatc3 {
        width: 100%;
    }

    section {
        width: 100%;
    }

    .competence1 {
        width: 100%;
    }

    .conctac1.contatc2,
    .contatc3 {
        width: 100%;
    }

    .front,
    .back,
    .app {
        width: 100%;
    }
}

@media screen and (max-width:412px) {
    .contatc3 {
        width: 100%;
    }

    section {
        width: 100%;
    }

    .competence1 {
        width: 100%;
    }

    .conctac1.contatc2,
    .contatc3 {
        width: 100%;
    }
}

.Pr {
    width: 100;
}

@media screen and (max-width:900px) {
    header {
        height: 130px;
    }

    nav {
        margin: 70px;
        margin-right: 0px;
    }

    a {
        font-size: 18px;
        margin: 10px;
    }
}

@media screen and (max-width:500px) {
    header {
        height: 130px;
    }

    nav {
        margin: 70px;
        margin-right: 10px;
    }

    a {
        font-size: 15px;
        margin: 10px;
    }
}

@media screen and (max-width:460px) {
    nav {
        text-align: center;
        justify-content: space-between;

    }
}

@media screen and (max-width:460px) {
    nav {
        text-align: center;
        justify-content: space-between;
    }

    a {
        justify-content: space-between;
        text-align: center;
        margin: 5px;
    }

    .contatc {
        width: 100%;
    }

    .conctac1 {
        width: 90%;
    }
}

@media screen {}

@media screen and (max-width:480px) {

    .voy,
    .cafe,
    .mon,
    .front,
    .back,
    .app {
        width: 90%;
    }

    .im {
        width: 100%
    }

}

@media screen and (max-width:458px) {
    .conctac1 {
        width: 100%;
    }
}

@media screen and (max-width:420px) {

    .voy,
    .cafe,
    .mon {
        height: 530px;
    }

    .front,
    .back,
    .app {
        height: 300px;
    }
    .Z{
    margin-top: 10px;
    }
}

@media screen and (max-width:380px) {

    .voy,
    .cafe,
    .mon {
        height: 550px;
    }

}

@media screen and (max-width:300px) {

    .voy,
    .cafe,
    .mon {
        height: 620px;
    }

}

@media screen and (max-width:320px) {

    .voy,
    .cafe,
    .mon {
        height: 620px;
    }

}

@media screen and (max-width:350px) {

    .voy,
    .cafe,
    .mon {
        height: 580px;
    }

}

@media screen and (max-width:340px) {

    .voy,
    .cafe,
    .mon {
        height: 600px;
    }

}

@media screen and (max-width:330px) {

    .voy,
    .cafe,
    .mon {
        height: 620px;
    }

}

@media screen and (max-width:470px) {

    .conctac1,
    .contatc2 {
        width: 90%;
    }

    .contatc2 input,
    .message {
        width: 98%;
    }
}

@media screen and (max-width:420) {
    a {
        font-size: 5px;
        margin: 2px;
    }

    header {
        height: 150px;
    }

    nav {
        margin: 90px;
        margin-right: 0px;
    }

}

@media screen and (max-width:415) {
    a {
        font-size: 5px;
        margin: 1px;
    }

    header {
        height: 150px;
    }

    nav {
        margin: 100px;
        text-align: center;
    }

}

@media screen and (max-width:400) {
    a {
        font-size: 5px;
        margin: 1px;
    }

    header {
        height: 150px;
    }

    nav {
        margin: 120px;
        text-align: center;
        margin-left: 10px;
        margin-right: 0px;
        width: 100%;
    }

}